# App credentials
APP_NAME=aquila_db
APP_PORT=8000

#  Postgres DB
DB_HOST=db
DB_PORT=5432
DB_USER=root
DB_PASS=password
DB_NAME=go_aquila
DB_SSLMODE=disable

# Adminer (for postgres)
DOCKER_ADMINER_PORT=8085

#  jwt credentials
HASH_SALT=secret
HASH_SIGN_KEY=secret

#  Aquila DB
AQUILA_DB_HOST=localhost
AQUILA_DB_PORT=5001
AQUILA_MERCURY_PORT=5009
AQUILA_TXTPICK_PORT=5008
AQUILA_HUB_PORT=5002

# path to file private_unencrypted.pem
PATH_TO_PRIVATE_UNENCRYPTED_PEM_FILE="/home/dev/aquilax/ossl/private_unencrypted.pem"